{% extends "layout.html" %}
{% block title %}List {{ catalog_name }}{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block body %}
    <div class="container body-container">
        <div class="row">
            <div class="col-md-3">
                <div class='content-left'>
                    <h2>Categories</h2>
                        {% for i in wholecatalog %}
                            <div class = 'category'>
                                <a href = '{{url_for('display_all_items_per_category', catalog_name  = i.name) }}'>{{i.name | title}}</a>
                            </div>
                        {% endfor %}
                </div>
            </div>
            <div class="col-md-9">
                <div class='content-right'>
                    <h2>{{catalog_name|title}} Items</h2>
                    {% for item in items %}
                            <a href = '{{url_for('display_item_description', catalog_name = catalog_name, item_id = item.id) }}'>
                            {{item.title | title}}</a>
                        <br>
                    {% endfor %}
                    {% if login_status == True %}
                            <div class="edit_buttons">
                                <form action="{{url_for('add_new_item', catalog_name = catalog_name)}}"  name='editButton'>
                                    <input class="myButton" type='submit' value='Add Item' >
                                </form>
                            </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}